.fixed-header {
    max-height: 800px;
    overflow-y: auto !important;

    thead th {
        background: #FFF;
        position: sticky;
        top: 0;
    }
}

.product-details-table {
    margin-top: 25px;
    margin-bottom: 100px;

    table {
        width: 100% !important;

        td:last-child {
            display: flex;
            justify-content: center;
        }
    }
}
