@use '../../../sass/variables' as v;

.tableComplexContainer {
    margin: 1rem v.$left-padding;
    height: 60vh;
}

.checkbox {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
}

.downloadContainer {
    margin: 2em v.$left-padding;
    width: 15em;
    float: right;
}

.filterCon {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: flex-start;

    .checkboxContainer {
        flex: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .inputCon {
        margin-right: 2%;
        width: 35%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        .space {
            height: 5em;
        }
        .inputs {
            width: 100%;
            display: flex;
            margin-bottom: 2em;
            flex-direction: column;
        }
        .dates {
            display: flex;
            flex-direction: row;

            p {
                margin-right: 1rem;
            }
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .tag {
        background-color: v.$background;
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 10px;

        span {
            margin-right: 0.5em;
        }
    }
}


.container {
    margin: 3rem v.$right-padding 0 v.$left-padding;

    .details {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .field {
            width: 12em;
            margin: 1em 1em 0 0;
        }
    }

    .buttonsCon {
        display: flex;
        justify-content: flex-end;
        
        .btnContainer {
            width: 20em;
            margin-top: 2em;
            margin-left: 1em;
        }
    }

    .images {
        display: flex;

        .imageContainer {
            width: 15rem;
            margin: 2em 2em 0 0;

            .image {
                width: 13rem;
                height: 13rem;
                margin-bottom: 1em;
                cursor: pointer;
            }
        }
    }
}