@use '../../sass/variables' as v;

.title {
    margin-top: 2em;
    margin-bottom: 2em;
    // text-align: center;
    font-size: 1.4em;
}

.input {
    margin-bottom: 2.5em;
}

.buttons {
    display: flex;
    .buttonContainer {
        width: 50%;
        margin-right: 5%;
    }
}

.successMessage {
    margin-top: 2em;
    font-size: 1.2em;
}